@charset "UTF-8";
body {
  color: #757575;
  font-family: "Roboto", sans-serif;
}

/*СХОВАВ ВСЮДИ ТОЧКИ ТА ПІДКРЕСЛЕНЯ*/
.site-nav__link,
.auth-nav__link,
.footer-nav__link,
.footer-nav__map,
.filter-set__link {
  list-style: none;
  text-decoration: none;
}

/*СБРОС СТИЛЕЙ*/
.filter-set, .buttons-portfolio, .footer-nav, .clients-set, .sociale-set, .team-set, .doing-set, .feature-set, .socile-box__link, .auth-nav, .site-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 94px 0;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.button-portfolio__text, .button-mail-form, .button-submit, .button-hero { /*общие стили всех кнопок*/
  background-color: #2196F3;
  border: none;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  cursor: pointer;
}

.logo {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__text {
  color: #000000;
}
.logo__text--invers {
  color: #FFFFFF;
}

/*НАВІГІЦІЯ ШАПКА*/
.page-header {
  background-color: #FFFFFF;
  border: 1px solid #ECECEC;
  position: relative;
}
.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}

.button-burger {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media screen and (min-width: 768px) {
  .button-burger {
    display: none;
  }
}

.button-burger .icon-cross {
  display: none;
}

.button-burger.is-open .icon-cross {
  display: block;
}

.button-burger.is-open .icon-menu {
  display: none;
}

.menu-box {
  background-color: #FFFFFF;
  padding: 48px 40px;
}
@media screen and (max-width: 767px) {
  .menu-box {
    display: none;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .menu-box.is-open {
    display: block;
  }
  .menu-box .auth-nav__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    margin-bottom: 306px;
  }
}

@media screen and (max-width: 767px) {
  .contactes {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .socile-box {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    padding-bottom: 32px;
  }
}

.site-nav__link {
  position: relative;
  display: block;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover:after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  bottom: -1.5px;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}
.site-nav__link--current {
  color: #2196F3;
}
@media screen and (max-width: 767px) {
  .site-nav__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    padding-top: 0;
    text-align: left;
  }
}

/*ТЕДЕФОН ЄМЕІЛ ШАПКА*/
.auth-nav {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__item:not(:last-child) {
    padding-top: 32px;
  }
}

.auth-nav__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196F3;
}
@media screen and (max-width: 767px) {
  .auth-nav__link--tell {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .auth-nav__link--mail {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

.auth-nav__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.auth-nav__icon--tel {
  height: 16px;
}

.hero {
  max-width: 1600px;
  max-height: 600px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img-hw4/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-hw4/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #C4C4C4;
  padding: 200px 0;
  text-align: center;
}

.hero__title {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-hero {
  display: inline-block;
  /*border-radius: 4px;*/
  padding: 10px 32px;
  min-width: 216px;
  /*text-align: center;*/
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /*background-color: var(--accent-color);*/
  /*cursor: pointer;*/
  /*border: none;*/
  /*transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}
.button-hero:hover, .button-hero:focus {
  color: #188CE8;
  color: #FFFFFF;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visiblity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visiblity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.modal__close {
  position: absolute;
  display: block;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}

.modal__icon {
  width: 100%;
  height: 100%;
}
.modal__icon:hover {
  fill: #2196F3;
}

.modal__title {
  display: inline-block;
  margin-bottom: 12px;
  padding-bottom: 12px;
  padding-top: 40px;
  height: 23px;
  width: 448px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .modal__title {
    max-width: 370px;
    height: 46px;
  }
}

.form-field__label,
.confirmation__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-modal {
  max-width: 448px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .form-modal {
    max-width: 370px;
  }
}

.wrapper {
  position: relative;
}

.wrapper__icon {
  position: absolute;
  left: 12px;
  bottom: 50%;
  display: inline-block;
  color: currentColor;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.wrapper__input {
  padding-left: 42px;
  height: 40px;
  resize: none;
  margin: 0;
  padding: 12px 12px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wrapper__input:focus {
  border-color: #188CE8;
}

.form-field__textarea {
  resize: none;
  margin: 0;
  padding: 12px 12px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__textarea:focus {
  border-color: #188CE8;
}
.form-field__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__label {
  margin-bottom: 4px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
}

.confirmation {
  margin-top: 20px;
  margin-bottom: 30px;
}

.confirmation__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 1.7143;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (max-width: 767px) {
  .confirmation__label {
    max-width: 360px;
    max-height: 15px;
    font-size: 12px;
  }
}

.confirmation__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  appearance: none;
}
.confirmation__checkbox:checked + .confirmation__icon {
  background-color: #2196F3;
  background-size: contain;
  background-origin: border-box;
  border-color: #2196F3;
}

.confirmation__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.confirmation__dogovor {
  color: #188CE8;
}

.button-submit {
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /*text-align: center;*/
  letter-spacing: 0.06em;
  color: #000000;
  /*background:var(--hero-button-hover);*/
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /*border-radius: 4px;*/
  /*border: none;*/
  /*cursor: pointer;*/
  /*transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}

.hide-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

@media screen and (min-width: 768px) {
  .feature-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-set {
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .feature-set__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-set__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}
@media screen and (max-width: 767px) {
  .feature-set__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.feature-set__box {
  background-color: #F5F4FA;
  padding: 25px 100px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-position: center;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .feature-set__box {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .feature-set__box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-set__box {
    width: 270px;
  }
}

.feature-set__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (min-width: 480px) {
  .feature-set__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .feature-set__title {
    text-align: left;
  }
}

.feature-set__description {
  font-size: 14px;
  line-height: 1.7143;
  letter-spacing: 0.03em;
}

.section-doing {
  padding-top: 0;
}
@media screen and (max-width: 767px) {
  .section-doing {
    display: none;
  }
}
@media screen and (max-width: 1140px) {
  .section-doing {
    display: none;
  }
}

.doing-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.doing-set__item {
  position: relative;
  width: 33.3333%;
}
.doing-set__item:not(:last-child) {
  margin-right: 30px;
}

.doing-set__box {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.doing-set__text {
  font-size: 14px;
  line-height: 1.1429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*заголовок НАША КОМАНДА*/
.section-team {
  background-color: #F5F4FA;
}

.team-set {
  margin-left: -30px;
}

.team-set__item {
  margin-left: 30px;
  width: calc((100% - 90px) / 4);
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/*.team-set__img {
    display: block;
    max-width: 100%;
    height: auto;
}*/
.comand-box {
  padding: 30px 32px;
  background-color: #FFFFFF;
}

.comand-box__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.comand-box__discrip {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.sociale-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sociale-set__item:not(:last-child) {
  margin-right: 10px;
}

.sociale-set__link {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}
.sociale-set__link:hover {
  background-color: #2196F3;
  color: #FFFFFF;
}
.sociale-set__link--footer {
  /*то что отличает блок*/
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cosiale-set__icon {
  fill: currentColor;
}

@media screen and (min-width: 480px) {
  .clients-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 768px) {
  .clients-set {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-set {
    margin: -15px;
  }
}

@media screen and (min-width: 480px) {
  .clients-set__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .clients-set__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-set__item {
    width: calc((100% - 180px) / 6);
    margin: 15px;
  }
}

@media screen and (min-width: 480px) {
  .clients-title {
    text-align: center;
  }
}

.clients-set__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 31px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: inherit;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-set__link:hover {
  color: #2196F3;
  border-color: #2196F3;
}

.clients-set__icon {
  fill: currentColor;
}

/*ФУТЕР*/
.footer {
  padding: 60px 0;
  background-color: #2F303A;
}
.footer__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .logo--footer {
    display: block;
    margin-bottom: 28px;
  }
}

.footer-contact {
  margin-right: 70px;
}
@media screen and (max-width: 767px) {
  .footer-contact {
    margin: 0;
    text-align: center;
  }
}

.sociale,
.footer-form {
  padding-top: 12px;
}
@media screen and (max-width: 767px) {
  .sociale,
  .footer-form {
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sociale {
  margin-right: 93px;
}
@media screen and (max-width: 767px) {
  .sociale {
    margin: 0;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .sociale-set {
    margin-bottom: 60px;
  }
}

.strong {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .mail-form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.mail-form::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  height: 100%;
}
.mail-form::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  height: 100%;
}
.mail-form:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  height: 100%;
}
.mail-form::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  height: 100%;
}
.mail-form::placeholder {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  height: 100%;
}

.mail-form__input {
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 767px) {
  .mail-form__input {
    height: 50px;
    margin-bottom: 20px;
    width: 450px;
  }
}

.mail-form__svg {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 10px;
  margin-right: 25px;
}

.button-mail-form {
  min-width: 200px;
  position: relative;
  margin-left: 12px;
  padding-right: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  /*background-color:var(--accent-color);*/
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /*border-radius: 4px;*/
  /*border: none;*/
  /*cursor: pointer;*/
  /*transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}
@media screen and (max-width: 767px) {
  .button-mail-form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }
}

.footer-nav {
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .footer-nav {
    margin-bottom: 60px;
  }
}

.footer-nav__item:not(:last-child) {
  margin-bottom: 9px;
}
@media screen and (max-width: 767px) {
  .footer-nav__item:not(:last-child) {
    margin-bottom: 12px;
  }
}

.footer-nav__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav__link:hover, .footer-nav__link:focus {
  color: #FFFFFF;
}

/*.sociale-set__link--footer:hover {
    background-color: var(--accent-color);  
}*/
.footer-nav__map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7143;
  color: #FFFFFF;
  /* or 171% */
  letter-spacing: 0.03em;
}

.portfolio {
  background-color: #FFFFFF;
}

.buttons-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.button-portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio__text {
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  background-color: #F5F4FA;
  /*border-radius: 4px;*/
  color: #212121;
  /*cursor: pointer;
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}
.button-portfolio__text:hover, .button-portfolio__text:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-discr {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.filter-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*количество маржинов в строке * на значение маржина в пикселях  / кол-элкментов в строке*/
.filter-set__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  /*margin-right: 30px;
  margin-bottom: 30px;*/
  /*background-color: tomato;*/
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-set__item:hover, .filter-set__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.filter-set__item:nth-child(3n) {
  margin-right: 0;
}
.filter-set__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.filter-discr__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.filter-disc__text {
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: #757575;
}

.filter-box {
  position: relative;
  overflow: hidden;
}

.box-textonimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*opacity: 0;*/
}
.filter-box:hover .box-textonimage {
  /*opacity: 1;*/
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.box-textonimage__text {
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */