.hide-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important; 
}

.feature-set {
    @extend %list;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }    
    @media screen and (min-width: 1200px) {
        margin: -15px;
        //margin-left: -30px;
    }    
}

.feature-set__item {
    //margin-left: 30px;
    //width: calc((100% - 90px) / 4);
    @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }
  
    @media screen and (min-width: 1200px) {
        //width: 33.3333%;
        width: calc((100% - 8 * 15px) / 4);
        margin: 15px; 
    }

    &:not(:last-child) {
    @media screen and (max-width: 767px){
        margin-bottom: 30px;
    }
  }
}

.feature-set__box {
    background-color:$team-bg-color;
    //width: 270px;
    //height: 120px;
    padding: 25px 100px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-position: center;
    text-align: center;
    
    @media screen and (min-width: 480px) {
        width: 450px;
    }    
    @media screen and (min-width: 768px) {
        width: 354px;     
    }
    @media screen and (min-width: 1200px) {
        width: 270px;     
    }
  
}

.feature-set__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:$title-text-color;

    @media screen and (min-width: 480px) {
        text-align: center;
    }
    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.feature-set__description {
    font-size: 14px;
    line-height: 1.7143;
    letter-spacing: 0.03em;
}