.section-doing {
    padding-top: 0;
    /*background-color:var(--hero-text-color);*/
}

.doing-set {  
    @extend %list; 
    display: flex; 
}
.doing-set__item {
    position: relative;
}
.doing-set__box {
    position: absolute;
    background-color: $doing-bg;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.doing-set__text {
    font-size: 14px;
    line-height: 1.1429;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $hero-text-color;
}

.doing-set__item:not(:last-child) {
    margin-right: 30px;
}


